<!DOCTYPE html>
<html>
<head>
	<title>Add point</title>
	 <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div>
	<a class="btn btn-primary" href="/">Home Page</a>
</div>
<div class="container-fluid">
<form action="/add/point/{{id}}" method="POST">
  <input type="number" name="id" value="{{id}}" hidden>
	<div id="blockTablename" class="form-group">
    <label for="tablename">Name Table</label>
    <input type="text" class="form-control" id="tablename" name="tablename" >
         <label for="ifchange">Write value if it change </label>
     <input type="checkbox" class="form-control" id="ifchange" name="ifchange" >
  </div>
   <div id="typeValriable" class="form-group">
    <label for="type">Type</label>
    <select class="form-control" id="type" name="type">

      <option value="real">Real</option>
      <option value="int">Intager</option>
      <option value="double">Double Intager</option>
        <option value="bool">Boolean</option>
       <option value="area">Area DB</option>
        <option value="oee_area">Area OEE</option>
    </select>

  </div>
  <div class="form-group">
    <label for="DB">DB</label>
    <input type="number" step="1" class="form-control" id="DB" name="DB" >
  </div>
  <div id="startAddress" class="form-group">
    <label id="startA" for="start">start address in db</label>
    <input  type="number" step="1" class="form-control" id="start" name="start" >
  </div>

    <div id="blockBit" class="form-group" hidden>
    <label id="bitLable" for="bit">Bit in byte</label>
    <input  type="number" step="1" class="form-control" id="bit" name="bit" >
  </div>

      <div id="endAddress" class="form-group" hidden>
    <label id="endAddressLable" for="endAddressInput">end address</label>
    <input  type="number" step="1" class="form-control" id="endAddressInput" name="endAddress" >
  </div>
    <div id="countVar" class="form-group" hidden>
    <label id="countVarLable" for="countVarInput">counts Variable</label>
    <input  type="number" step="1" class="form-control" id="countVarInput" value="0" name="countVar" >
  </div>
    <div id="countVarOEE" class="form-group" hidden>
    <label id="countVarLableOEE" for="countVarInput">counts OEE</label>
    <input  type="number" step="1" class="form-control" id="countVarInputOEE" value="0" name="countVarOEE" >
  </div>
  <div id="palitra">

  </div>

  <button type="success" class="btn btn-success">Save</button>
</form>
</div>

<script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

<script>
var palitra = document.getElementById('palitra');
  var tablename = document.getElementById('blockTablename');
  var select =  document.getElementById('type');
  var lable =  document.getElementById('startA');
  var block =  document.getElementById('blockBit');
   var blockDB =  document.getElementById('endAddress');
   var countVar =  document.getElementById('countVar');
   var countVarOEE =  document.getElementById('countVarOEE');
  select.onchange = function(e){
    if(this.value=="bool"){
        lable.textContent = 'byte in db';
        block.removeAttribute('hidden');
        tablename.removeAttribute('hidden');
        blockDB.setAttribute('hidden',true);
        countVar.setAttribute('hidden',true);
    }else if(this.value=="area"){
        lable.textContent = 'start address in db';
        blockDB.removeAttribute('hidden');
        countVar.removeAttribute('hidden');
        tablename.setAttribute('hidden',true);
        tablename.getElementsByTagName("input")[0].value = '';
    }else if(this.value=="oee_area"){
        lable.textContent = 'start address in db';
        blockDB.removeAttribute('hidden');
        countVarOEE.removeAttribute('hidden');
        tablename.setAttribute('hidden',true);
        tablename.getElementsByTagName("input")[0].value = '';
    }else{
        lable.textContent = 'start address in db';
        block.setAttribute('hidden',true);
        blockDB.setAttribute('hidden',true);
        tablename.removeAttribute('hidden');
        countVar.setAttribute('hidden',true);
    }
  };
  countVarOEE.getElementsByTagName("input")[0].onchange = function(e){
    document.getElementById('palitra').innerHTML = "";
    var for_oee_html = "";
    for(i=1;i<=parseInt(this.value);i++){
    for_oee_html += `<div class="container-fluid">
            <div class="row">
                <div class="col text-center text-primary d-xl-flex justify-content-xl-center align-items-xl-center"><strong>NAME</strong></div>
                <div class="col"><strong class="d-xl-flex justify-content-xl-center">Type</strong></div>
                <div class="col"><strong class="d-xl-flex justify-content-xl-center">start address</strong></div>
                <div class="col"><strong class="d-xl-flex justify-content-xl-center">status(int)</strong></div>
            </div>
            <div class="row">
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><label class="d-xl-flex">enter a name table</label><input class="form-control-lg d-xl-flex justify-content-xl-center" type="text" name="name_table_oee_${i}" id="name_table_oee_${i}"></div>
                <div class="col d-xl-flex align-items-xl-center"><input class="bg-white border rounded border-primary shadow form-control-lg d-xl-flex justify-content-xl-center" type="text" id="type_oee_${i}" name="type_oee_${i}"  value="intager" readonly=""></div>
                <div class="col d-xl-flex align-items-xl-center"><input class="form-control-lg d-xl-flex justify-content-xl-center" type="numeric" id="start_address_oee_${i}" name="start_address_oee_${i}"></div>
                <div class="col">
                    <div class="row d-xl-flex align-items-xl-center">
                        <div class="col"><label class="col-form-label">off</label></div><input class="form-control-sm d-xl-flex justify-content-xl-center" type="numeric" name="off_${i}" ></div>
                    <div class="row d-xl-flex align-items-xl-center">
                        <div class="col"><label class="col-form-label">stop</label></div><input class="form-control-sm d-xl-flex justify-content-xl-center" type="numeric" name="stop_${i}"></div>
                    <div class="row d-xl-flex align-items-xl-center">
                        <div class="col"><label class="col-form-label">run</label></div><input class="form-control-sm d-xl-flex justify-content-xl-center" type="numeric" name="run_${i}"></div>
                    <div class="row d-xl-flex align-items-xl-center">
                        <div class="col"><label class="col-form-label">alarm</label></div><input class="form-control-sm d-xl-flex justify-content-xl-center" type="numeric" name="alarm_${i}" style="width: 168px;"></div>
                </div>
            </div>
        </div>`;
        }
        palitra.innerHTML=for_oee_html;
  };


  countVar.getElementsByTagName("input")[0].onchange = function(e){
    document.getElementById('palitra').innerHTML = "";
    for(i=1;i<=parseInt(this.value);i++){
    let input =  document.createElement('input');
    input.name = 'tablename_'+i;
    input.classList.add('col-sm');
    input.value = 'real_'+i;
    let start1 =  document.getElementById('startAddress');
    let start = start1.cloneNode(true);
    start.id = 'start_ad_'+i;
    start.getElementsByTagName("input")[0].id = "start_offset_in_data_"+i;
    start.getElementsByTagName("input")[0].name = "start_offset_in_data_"+i;
    start.getElementsByTagName("input")[0].value = 4*(i-1);
    start.classList.add('col-sm');

    let typevar1 = document.getElementById('typeValriable');
    let typevar = typevar1.cloneNode(true);
    typevar.id = 'typevar_'+i;
    typevar.getElementsByTagName("select")[0].id = "type_"+i;
    typevar.getElementsByTagName("select")[0].name = "type_"+i;
    typevar.getElementsByTagName("select")[0].remove(4);
    typevar.classList.add('col-sm');

    let lable = document.createElement('lable');
    lable.innerHTML = 'write the tablename, start address and type';

    let newdiv = document.createElement('div');
    newdiv.classList.add('form-group');
    newdiv.classList.add('col-sm');
    let newinput =  document.createElement('input');
    newinput.type = 'checkbox';
    newinput.classList.add('form-check-input');
    newinput.classList.add('add_new_line');
    newinput.id = 'add_error_value_'+i;
    newinput.addEventListener('click',radioChecker);
    let newlable = document.createElement('lable');
    newlable.classList.add('form-check-label');
    newlable.innerHTML = 'set error value';
    newlable.for = 'add_error_value_'+i;
    newdiv.appendChild(newinput);
    newdiv.appendChild(newlable);
    let div = document.createElement('div');
    div.classList.add('form-group');
    div.id = "parent_row"+i;
    div.classList.add('row');
    div.appendChild(lable);
    div.appendChild(input);
    div.appendChild(typevar);
    div.appendChild(start);
    div.appendChild(newdiv);
    palitra.appendChild(div);

    }
  };
function radioChecker(e){
  var c = this.id.split('_');
  let num = c[c.length - 1];
    if($(this).is(':checked')){
      let newdiv = document.createElement('div');
      newdiv.classList.add('form-group');
      newdiv.classList.add('row');
      newdiv.id = 'bind_bit_'+num;
        let newdiv1 = document.createElement('div');
        newdiv1.classList.add('form-group');
        newdiv1.classList.add('col-sm');
        let start13 =  document.getElementById('startAddress');
        let start3 = start13.cloneNode(true);
        start3.id = 'DB_bind_'+num;
        start3.childNodes[1].textContent = 'DB in PLC for bind'
        start3.childNodes[3].name = 'DB_bind_'+num;
        start3.childNodes[3].id = 'DB_bind_'+num;

        let start1 =  document.getElementById('startAddress');
        let start = start1.cloneNode(true);
        start.id = 'byte_bind_'+num;
        start.childNodes[1].textContent = 'byte in PLC'
        start.childNodes[3].name = 'byte_bind_'+num;
        start.childNodes[3].id = 'byte_bind_'+num;
        let start12 =  document.getElementById('startAddress');
        let start2 = start12.cloneNode(true);
        start2.id = 'bit_bind_'+num;
        start2.childNodes[3].name = 'bit_bind_'+num;
        start2.childNodes[3].id = 'bit_bind_'+num;
        start2.childNodes[1].textContent = 'bit in byte';
        let parent = this.parentElement.parentElement.parentElement;
        newdiv1.innerHTML='enter the bit and byte that monitors the variable';
        newdiv.appendChild(newdiv1);
        newdiv.appendChild(start3);
        newdiv.appendChild(start);
        newdiv.appendChild(start2);
        parent.insertBefore(newdiv,document.getElementById('parent_row'+(+num+1)));
    }else{
        document.getElementById('bind_bit_'+num).remove();
    }

}














</script>

</html>